{% extends 'phone/base.html' %}
{% load static %}
{% block content %}
{% load hitcount_tags %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active" style="height:650px; width: 650px;">
                        <img class="w-100 h-100"  src="{{ phone.image1.url }}" alt="Image">
                    </div>
                    <div class="carousel-item" style="height:650px; width: 500px;">
                        <img class="w-100 h-100" src="{{ phone.image2.url }}" alt="Image">
                    </div>
                    <div class="carousel-item" style="height:650px; width: 650px;">
                        <img class="w-100 h-100" src="{{ phone.image3.url }}" alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>{{phone.title}}</h3>
                <h4 class="font-weight-semi-bold mb-4">{{phone.price}} so'm</h4>
                <p class="mb-4">{{phone.body | linebreaks}}</p>
                <h5 class="font-weight-semi-bold mb-4">Qo'ng'iroq qiling:{{phone.phonenumber}} |
                    <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for phone %}</h5>
                <p>Qo'yilgan vaqti: {{phone.publish_time}}</p>


            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


<!-- Products Start -->
<!--<div class="container-fluid py-5">-->
<!--    <h2 class=" section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span>-->
<!--    </h2>-->
<!--    <div class="row px-xl-5">-->
<!--        <div class="col">-->
<!--            <div class="owl-carousel related-carousel">-->
<!--                <div class="product-item bg-light">-->
<!--                    <div class="product-img position-relative overflow-hidden">-->
<!--                        <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="">-->
<!--                        <div class="product-action">-->
<!--                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="text-center py-4">-->
<!--                        <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>-->
<!--                        <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--                            <h5>$123.00</h5>-->
<!--                            <h6 class="text-muted ml-2">-->
<!--                                <del>$123.00</del>-->
<!--                            </h6>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--                            <small class="fa fa-star text-primary mr-1"></small>-->
<!--                            <small class="fa fa-star text-primary mr-1"></small>-->
<!--                            <small class="fa fa-star text-primary mr-1"></small>-->
<!--                            <small class="fa fa-star text-primary mr-1"></small>-->
<!--                            <small class="fa fa-star text-primary mr-1"></small>-->
<!--                            <small>(99)</small>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div> -->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Products End -->
{% endblock content %}