{% extends 'phone/base.html' %}
{% load static %}
{% block content %}
{% load hitcount_tags %}

<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/iphone.jpg' %}"
                             style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Apple</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Apple-ning maqsadi pul
                                    ishlash emas, balki yaxshi mahsulotlarni taklif qilishdir</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                   href="{% url 'apple_page'  %}">Harid qilsih</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/Samsung.jpg' %}"
                             style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Samsung</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Yetakchi, global kompaniya
                                    sifatida mas’uliyat bilan ishlashga tirishamiz.</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                   href="{% url 'samsung_page'  %}">Harid qilsih</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/Xiaomi.jpg' %}"
                             style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Xiaomi</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Kompaniyadagilar o‘tib
                                    bo‘lmas to‘siqlarni ham bosib o‘tganligi ramzi bo‘lib xizmat qiladi. </p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                   href="{% url 'xiaomi_page'  %}">Harid qilsih</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="{% static 'img/spare.jpg.png' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Sifatli</h6>
                    <h3 class="text-white mb-3">Extiyot qisimlar</h3>
                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'extiyot_qisimlar_page' %}">Barchasini
                        ko'rish</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="{% static 'img/acses.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Sifatli</h6>
                    <h3 class="text-white mb-3">Mobile jihozlar</h3>
                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'aksesuar_page' %}">Barchasini
                        ko'rish</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Categories Start -->
<div id="category" class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Kategoriyalar</span>
    </h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'apple_page'%}">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/12.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Apple</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'samsung_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/8.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Samsung</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'xiaomi_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/11.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Xiaome</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'huawei_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/7.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Huawei</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'vivo_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/6.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Vivo</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'oppo_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/5.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Oppo</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'lg_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/1.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>LG</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'sony_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/2.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Sony</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'nokia_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/3.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Nokia</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'artel_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/4.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Artel</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'lenovo_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/9.png' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Lenovo</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'boshqalar_page'%}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/10.jpg' %}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Boshqalar</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">ENG SO'NGI MAXSULOTLAR</span>
    </h2>
    <div class="row px-xl-5">
        {% for Phone in phone_list %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">

                <div class="product-img position-relative overflow-hidden">
                    <a href="{% url 'detail_page' Phone.pk %}"><img class="img-fluid w-100" style="width: 200px;
    height:330px;" src="{{ Phone.image1.url }}" alt=""></a>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="{% url 'detail_page' Phone.pk %}"><h5>{{Phone.title | truncatechars:35}}</h5></a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <p>{{Phone.price}} so'm <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for Phone %}</p>
                    </div>
                    <a class="btn btn-primary" href="{% url 'detail_page' Phone.pk %}">Ko'rish</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
</div>


<!-- Products End -->


<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="{% static 'img/spare.jpg.png' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Sifatli</h6>
                    <h3 class="text-white mb-3">Mobile jihozlar</h3>
                    <a class="btn btn-primary" href="#">Barchasini ko'rish</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="{% static 'img/acses.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Sifatli</h6>
                    <h3 class="text-white mb-3">Mobile jihozlar</h3>
                    <a class="btn btn-primary" href="#">Barchasini ko'rish</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Apple MAXSULOTLAR</span>
    </h2>
    <div class="row px-xl-5">
        {% for Apple in apple_list %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">

                <div class="product-img position-relative overflow-hidden">
                    <a href="{% url 'detail_page' Apple.pk %}"><img class="img-fluid w-100" style="width: 400px;
    height:400px;" src="{{ Apple.image1.url }}"
                                                                    alt=""></a>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">{{Apple.title | truncatechars:35}}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>{{Apple.price}} so'm <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for Apple %}</h5>
                    </div>
                    <a class="btn btn-primary" href="{% url 'detail_page' Apple.pk %}">Ko'rish</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
</div>
<!-- Products End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="{% static 'img/dgu.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
{% endblock content %}