{% extends 'phone/base.html' %}
{% load static %}


{% block content %}
<h1>Parolni tiklash</h1>
<p>Parolni o'zgartirish uchun quydagi formani to'ldiring</p>

{% if validlink %}
<p>Yangi parolni ikki marotaba kiriting</p>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>
        <button type="submit">Parolni almashtirish</button>
    </p>
</form>
{% else %}
<p>Siz noto'g'ri linkdan foydalandingiz u avval foydalangan yoki ishlash vaqtidan o'tib ketgan bo'lishi mumkin</p>
{% endif %}

{% endblock content %}