    {% extends 'phone/base.html' %}
    {% load static %}
    {% block content %}

    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">boshqalar</span></h2>
        <div class="row px-xl-5">
            {% for Phone in boshqalar_phone %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">

                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" style="width: 400px;
    height:400px;" src="{{ Phone.image1.url }}" alt="">
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{Phone.title | truncatechars:35}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{Phone.price}} so'm</h5>
                        </div>
                        <a class="btn btn-primary" href="{% url 'detail_page' Phone.pk %}">Ko'rish</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

    {% endblock content %}